# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ossvpgptgidygghnyqnn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9zc3ZwZ3B0Z2lkeWdnaG55cW5uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2MDEyMjcsImV4cCI6MjA5ODE3NzIyN30.8Kt5RCgSlmwR3oWVzEbSh0yN14WpMiBAXZAMRj9nRSc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9zc3ZwZ3B0Z2lkeWdnaG55cW5uIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjYwMTIyNywiZXhwIjoyMDk4MTc3MjI3fQ.Ku7Xd2pIEGHnIVD-W9lT4R7xDpoH_7rRLLPF16NSN9k
# App
NEXT_PUBLIC_APP_URL=https://register.ztfuniversity.com
NEXT_PUBLIC_MAIN_SITE_URL=https://www.ztfuniversity.com

# Email (Resend)
RESEND_API_KEY=re_bcZdW1Qu_JXHnLcpaXUBy5QgJxcpmm7wp
RESEND_FROM_EMAIL=admissions@ztfuniversity.com

# Admin
ADMIN_SECRET_KEY=#Ztfuniversity2025#
